<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InvoiceTool.Mvc</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InvoiceTool.Mvc.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" asp-append-version="true" />
</head>
<body>
    <main role="main" class="pb-3 container-fluid position-relative">
        <div class="row">
            <div class="col-12">
                <div class="menu-column">

                    <img class="menu-logo" src="~/images/78e20c38-2705-4c20-ad78-79592532ef38.png" />

                    <ul>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                <i class="fa-solid fa-chart-pie icon"></i>
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Invoice" asp-action="Index">
                                <i class="fa-solid fa-file-lines"></i>
                                Invoices
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Customer" asp-action="Index">
                                <i class="fa-solid fa-users"></i>
                                Customers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Settings" asp-action="Edit">
                                <i class="fa-solid fa-gear"></i>
                                Settings
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="main-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
