.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
}

[class^="col-"] {
    position: relative;
    width: 100%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
}

.col {
    flex: 1 0 0%;
}

.col-1 {
    flex: 0 0 auto;
    width: 8.333333%;
}

.col-2 {
    flex: 0 0 auto;
    width: 16.666667%;
}

.col-3 {
    flex: 0 0 auto;
    width: 25%;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.333333%;
}

.col-5 {
    flex: 0 0 auto;
    width: 41.666667%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.666667%;
}

.col-9 {
    flex: 0 0 auto;
    width: 75%;
}

.col-10 {
    flex: 0 0 auto;
    width: 83.333333%;
}

.col-11 {
    flex: 0 0 auto;
    width: 91.666667%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.text-center {
    text-align: center !important;
}