:root {
    --custom-purple: #172f5c;
    --custom-purple-dark: #0c1b32;
    --custom-purple-light: #142540;
    --searche-purple: #101728;
    --searche-blue: #04ade1;
    --searche-green: #90be6d;
    --white: #ffffff;
    --border-color: #344259;
    --border-radius: .25em;
}

html {    
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

*:hover {
    transition: .3s ease;
}

body {
    background-color: var(--custom-purple-dark);
    color: var(--white);
    padding: 1em;
}

/* Custom */
.color-white {
    color: var(--white) !important
}

.btn {
    transition: 0.3s ease;
}

.btn-primary,
.btn-primary:hover {
    background-color: var(--searche-blue);
    border-color: var(--searche-blue);
}

.btn-primary:hover {
    filter: brightness(.90);
}

.btn-success,
.btn-success:hover {
    background-color: var(--searche-green);
    border-color: var(--searche-green);
}

.btn-success:hover {
    filter: brightness(.90);
}

.body-content form {
    background-color: var(--custom-purple-light);
    padding: 1em;
    border-radius: .25em;
}


.menu-logo {
    width: 100%;
    padding: 1em;
}

.menu-column {
    width: 250px;
    min-height: calc(100% - 2em);
    height: calc(100% - 2em);
    position: fixed;
    left: 1em;
    top: 1em;
    background-color: var(--custom-purple-light);
    padding: 1em;
    color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.menu-column ul {
    list-style: none;
    padding: 1em;
}

.menu-column ul li {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: .75em;
}

.menu-column ul li a {
    padding: .5em;
    padding: .5em;
    display: flex;
    align-items: center;
    gap: .75em;
    text-decoration: none;
    border-radius: .25em;
}

.menu-column ul li a:hover {
    background-color: var(--custom-purple);
}

.menu-column ul li i {
    display: inline-block;
    margin-right: .25em;
}

.main-content {
    width: calc(100% - calc(250px + 1em));
    float: right;
    background-color: var(--custom-purple-dark);
}

.table {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}

.table tr th,
.table tr td {
    background-color: var(--custom-purple-light);
    color: var(--white);
    align-content: space-around;
    font-size: .9em;
}
.table tr td .btn {
    font-size: .9em;
    padding: .25em .75em;
}

.form-control {
    background-color: var(--custom-purple-light);
    color: var(--white);
    border-color: var(--border-color);
}

.form-control:focus {
    background-color: var(--custom-purple);
    color: var(--white);
}

.form-group {
    margin-bottom: .5em;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.top-bar {
    padding: .5em 1em;
    border-radius: .25em;
    background-color: var(--custom-purple-light);
    margin-bottom: 1.5em;
    border: 1px solid var(--border-color);
}

.top-bar form {
    position: relative;
    display: flex;
    align-items: center;
}

.top-bar input {
    background-color: var(--custom-purple-light);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    border-left: none;
    border-top-right-radius: .25em;
    border-bottom-right-radius: .25em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 100%;
    padding-left: 1em;
    color: var(--white);
}
.top-bar input::placeholder {
    color: var(--border-color);
    font-size: 1em;
}

.top-bar form button {
    position: absolute;
    right: 0.5em;
    z-index: 10;
    background: none;
    border: none;
    color: var(--white);
    padding-bottom: .25em;
}
.top-bar form select {
    padding: .10em;
    color: var(--white);
    background-color: var(--custom-purple-light);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    border-left: 1px solid var(--border-color);
    border-right: none;
    border-top-left-radius: .25em;
    border-bottom-left-radius: .25em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.hover-menu {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.user-menu {
    padding-top: 2.5em;
    display: none;
    position: absolute;
    right: -1em;
    top: 0;
    z-index: 1000;
}

.user-menu ul {
    background-color: var(--custom-purple-light);
    padding: 0.5em 1em;
    color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    list-style: none;
    max-width: 100%;
    text-align: right;
}

.hover-menu:hover .user-menu {
    display: block;
}

.user-menu ul li a {
    color: var(--white);
    text-decoration: none;
    display: block;
    width: 100%;
}

.dashboard-card {
    background-color: var(--custom-purple-light);
    padding: .5em;
    color: var(--white);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
}